[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/tomas1646/nvim.git
[submodule ".tmux/plugins/tmp"]
	path = .tmux/plugins/tmp
	url = https://github.com/tmux-plugins/tpm
[submodule ".autoenv"]
	path = .autoenv
	url = https://github.com/hyperupcall/autoenv
